{% extends 'school/base.html' %} 

{% block content %}

<div class="container">
    <div class="container text-center" style="margin-top: 100px; margin-bottom: 50px">
        <h1>About Page</h1>
    </div>
    <div class="text-center" style="margin-bottom: 50px">
        <img
            src="https://sites.google.com/site/funnycatmeawww/_/rsrc/1422326075261/home/6997052-funny-cat.jpg?height=675&width=500" />
    </div>
    <h3>This website use for my school</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur animi
        optio alias ipsa ipsum perferendis obcaecati tenetur necessitatibus quae
        assumenda sit laboriosam consequuntur, deserunt cumque ea ex labore
        quidem odio.
    </p>
</div>

{% endblock content %}