{% extends 'school/base.html' %}

{% block content %}
<div class="container">
    <div class="container text-center" style="margin-top: 100px; margin-bottom: 50px">
        <h1>Contact Us</h1>
    </div>
    <div class="text-center" style="margin-bottom: 50px">
        <img src="https://cdni0.trtworld.com/w960/h540/q75/90514_THA201022thailandpmprayuthchanochathaitvbangkokRTR_1606900314333.jpeg"
            width="400px" />
    </div>
    <div class="container text-center">
        <p>prayut 0834542232</p>
        <p>pravit 0934534633</p>
    </div>
</div>
{% endblock content %}